<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GolemUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options.ConfigurationExtensions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Http" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <GolemUI.Properties.Settings>
        <setting name="Subnet" serializeAs="String">
            <value>LazySubnet</value>
        </setting>
        <setting name="TestNet" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="SentryDsn" serializeAs="String">
            <value>https://9dbe739909b646a9ab6d5376ab5f8ffb@o921571.ingest.sentry.io/6057947</value>
        </setting>
        <setting name="UserSettingsVersion" serializeAs="String">
            <value>12</value>
        </setting>
        <setting name="BenchmarkResultsVersion" serializeAs="String">
            <value>12</value>
        </setting>
        <setting name="GolemFactoryPath" serializeAs="String">
            <value>GolemFactory</value>
        </setting>
        <setting name="SettingsSubfolder" serializeAs="String">
            <value>ThorgMiner</value>
        </setting>
        <setting name="DefaultProxy" serializeAs="String">
            <value>n1.mining-proxy.imapp.pl:8069</value>
        </setting>
        <setting name="GolemWebPage" serializeAs="String">
            <value>www.golem.network</value>
        </setting>
        <setting name="OpenConsoleProvider" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="DebugLogsYagna" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="DebugLogsProvider" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="OpenConsoleYagna" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="dialog_antivir_image" serializeAs="String">
            <value>shield</value>
        </setting>
        <setting name="dialog_antivir_title" serializeAs="String">
            <value>Your antivirus is blocking Thorg</value>
        </setting>
        <setting name="dialog_antivir_message" serializeAs="String">
            <value>Your antivirus is blocking Thorg's mining module called “EthDcrMiner64.exe”. If you do not have antivirus software installed you can unblock this by going to your Windows Security settings, and then clicking on Virus and Threat Protections. 
If it doesn't help you might want to restart Thorg after changing settings in your antivirus.</value>
        </setting>
        <setting name="dialog_gpu_image" serializeAs="String">
            <value>gpu</value>
        </setting>
        <setting name="dialog_gpu_title" serializeAs="String">
            <value>Insufficient GPU memory</value>
        </setting>
        <setting name="dialog_gpu_message" serializeAs="String">
            <value>No worries though! We will soon release an update with support for cards that have less than 6B of RAM. Also, stay tuned for CPU support that is just around the corner.
Till then you can explore the app and get to know Thorg a bit better!</value>
        </setting>
        <setting name="dialog_wallet_image" serializeAs="String">
            <value>wallet</value>
        </setting>
        <setting name="dialog_wallet_title" serializeAs="String">
            <value>Don't use an exchange address</value>
        </setting>
        <setting name="dialog_wallet_message" serializeAs="String">
            <value>Thorg is most suited for addresses that the user has custody of, compared to some other individual than the Thorg user (such as a centralized exchange) having custody of the address.
Most exchanges do not support L2 payments like Polygon that Thorg uses. Please change your wallet address to one that you're in control of, such as MetaMask.</value>
        </setting>
        <setting name="dialog_wallet_button" serializeAs="String">
            <value>Got it!</value>
        </setting>
        <setting name="dialog_gpu_button" serializeAs="String">
            <value>Close</value>
        </setting>
        <setting name="dialog_antivir_button" serializeAs="String">
            <value>Close</value>
        </setting>
        <setting name="DefaultProxyLowMem" serializeAs="String">
            <value>n1.mining-proxy.imapp.pl:8073</value>
        </setting>
    </GolemUI.Properties.Settings>
  </applicationSettings>
</configuration>