<?xml version="1.0" encoding="UTF-8"?>
<?define ClaymoreDir="F:\gminer\plugins\claymore-real"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="Claymore">
      <Component Id="cmpB310AB10842068918754AC7C6B84DEE0" Directory="dir29FA238D75D949F99B06F199E7C9EE82" Guid="*">
        <File Id="filB16B13A71393DA0213F7BFFD243D0CC5" KeyPath="yes" Source="$(var.ClaymoreDir)\cudart64_80.dll" />
      </Component>
      <Component Id="cmp1CD257EFDF83C46E0D61FBFB85303976" Directory="dir29FA238D75D949F99B06F199E7C9EE82" Guid="*">
        <File Id="filC741C00F7B71872CF3DD622CC3000F37" KeyPath="yes" Source="$(var.ClaymoreDir)\Datapack.bin" />
      </Component>
      <Component Id="cmpBDD0A97F3962239C33328AA9732F6FDD" Directory="dir29FA238D75D949F99B06F199E7C9EE82" Guid="*">
        <File Id="fil0676D469E9A5A5EFA1F5756FB0EA7F67" KeyPath="yes" Source="$(var.ClaymoreDir)\dpools.txt" />
      </Component>
      <Component Id="cmp3F0296D258AE2ADEC3862467FF5ACEE4" Directory="dir29FA238D75D949F99B06F199E7C9EE82" Guid="*">
        <File Id="filF7E293359F00E8210813C554B368C39D" KeyPath="yes" Source="$(var.ClaymoreDir)\EIO.dll" />
      </Component>
      <Component Id="cmp687E8E46492A08BA12A0839EC2B38161" Directory="dir29FA238D75D949F99B06F199E7C9EE82" Guid="*">
        <File Id="fil3E57B661218F7361B61B2973DA07470B" KeyPath="yes" Source="$(var.ClaymoreDir)\EIO.exe" />
      </Component>
      <Component Id="cmp02CC639CD1AE57D813736DFE39156A0C" Directory="dir29FA238D75D949F99B06F199E7C9EE82" Guid="*">
        <File Id="filE046C07CA3659648EB86872DE457C16B" KeyPath="yes" Source="$(var.ClaymoreDir)\epools.txt" />
      </Component>
      <Component Id="cmp763493F9D846C5064AE666B124AC2B52" Directory="dir29FA238D75D949F99B06F199E7C9EE82" Guid="*">
        <File Id="fil2EAF4EA17877474C1127415AEED10BB9" KeyPath="yes" Source="$(var.ClaymoreDir)\EthDcrMiner64.exe" />
      </Component>
      <Component Id="cmpB3E999D2577B8E184A5E42CAE3792BFE" Directory="dir29FA238D75D949F99B06F199E7C9EE82" Guid="*">
        <File Id="fil95758CC4E313BC081330770DB9C48D91" KeyPath="yes" Source="$(var.ClaymoreDir)\History.txt" />
      </Component>
      <Component Id="cmpEC32EDF0CA8B8536BB7F5EBE70A7A076" Directory="dir29FA238D75D949F99B06F199E7C9EE82" Guid="*">
        <File Id="fil7C64988F6DDF21ADFFA9215AE6C586E9" KeyPath="yes" Source="$(var.ClaymoreDir)\IOMap64.sys" />
      </Component>
      <Component Id="cmpD1AAD8625F1331050BB5749EF4B294E2" Directory="dir29FA238D75D949F99B06F199E7C9EE82" Guid="*">
        <File Id="fil088F9D02F8E884F49F6E6D934B618D1B" KeyPath="yes" Source="$(var.ClaymoreDir)\libcurl.dll" />
      </Component>
      <Component Id="cmpAA687BF574AD609FFF3FE7604B799627" Directory="dir29FA238D75D949F99B06F199E7C9EE82" Guid="*">
        <File Id="fil0CDF3B65ACAAABC1EBAC2A3D8D7A6CDB" KeyPath="yes" Source="$(var.ClaymoreDir)\License.txt" />
      </Component>
      <Component Id="cmp31CAB86A81F74D85430E31387C1AAAED" Directory="dir29FA238D75D949F99B06F199E7C9EE82" Guid="*">
        <File Id="fil1593EFEE9B1A8FC44C79AEFC82DD1B85" KeyPath="yes" Source="$(var.ClaymoreDir)\msvcr110.dll" />
      </Component>
      <Component Id="cmp16B6EF098AEDC275FC41340733E1C060" Directory="dir29FA238D75D949F99B06F199E7C9EE82" Guid="*">
        <File Id="fil8505837F23F1AD62A614E35AF2F88214" KeyPath="yes" Source="$(var.ClaymoreDir)\Readme!!!.txt" />
      </Component>
      <Component Id="cmp064E574274933534A7E0A47246C2DAE7" Directory="dir00796F504E8DC0DE85A40C6033069E84" Guid="*">
        <File Id="fil92FF7D0A8E451BD503FAC7D17230810F" KeyPath="yes" Source="$(var.ClaymoreDir)\cuda10\cudart64_100.dll" />
      </Component>
      <Component Id="cmp6EE8F54E3B9387154F581B34F6905501" Directory="dir00796F504E8DC0DE85A40C6033069E84" Guid="*">
        <File Id="fil451B3578321F4F54CE08842B91F32064" KeyPath="yes" Source="$(var.ClaymoreDir)\cuda10\EthDcrMiner64.exe" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
