<?xml version='1.0' encoding='windows-1252'?>
<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?define Win64 = "yes" ?>
<?define Version="0.4.1"?>
<?define BuildOutputDir="..\bin\Release"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:fw="http://schemas.microsoft.com/wix/FirewallExtension">
  <Product
        Id='*'
        Name='Beta Miner'
        UpgradeCode='{96497EC7-11EA-4257-A0E4-37688d0C7EC0}'
        Manufacturer='golemfactory'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>
    <Package Id='*'
           Keywords='Installer'
            Manufacturer='golemfactory'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252'
            Platform='x64'/>
    <MajorUpgrade
        Schedule='afterInstallInitialize' AllowDowngrades="no" AllowSameVersionUpgrades="no"
        DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

    <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
    <!-- Allow upgrades and prevent downgrades -->
    <!--MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." /-->
    <Property Id='DiskPrompt' Value='Test Beta Miner Installation'/>

    <!--Condition Message="Required vc++ runtime version 14.22.27812.0 or newer">
    		<![CDATA[Installed OR VCRUNTIMEVERSION]]>
	</Condition-->
    
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="fa2a64b9-19f8-4830-a931-18de65ed4e26">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Test Beta Miner"
                  Target="[APPLICATIONFOLDER]BetaMiner.Exe"
                  WorkingDirectory="APPLICATIONFOLDER"/>
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
           <RegistryKey Root="HKCU"
                     Key="Software\GolemFactory\TestBetaMiner" Action="createAndRemoveOnUninstall">
             <RegistryValue  Name="sendReports" Type="integer" Value="0"/>
        <RegistryValue  Name="installed" Type="integer" Value="1" KeyPath="yes"/>        
      </RegistryKey>
      </Component>
    </DirectoryRef>
    
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Golem"/>
      </Directory>
      <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
        <Directory Id='APPLICATIONFOLDER' Name='TestBetaMiner'>
          <Component Id='License' Guid='8aa900e0-cca3-49e0-9e1f-0692d8a3ab29' Win64='$(var.Win64)'>
            <File Id='LicenseFile'
                Name='License'
                DiskId='1'
                Source='LICENSE.rtf'
                KeyPath='yes'/>
          </Component>
          <Component Id='GolemNode' Guid='a2223e0a-f321-4895-a84c-fcaff67633a0' Win64='$(var.Win64)'>
            <File Id='yagnaExe'
                  Name='yagna.exe'
                  DiskId='1'
                  Source='ExternalBinaries\yagna.exe'
                  KeyPath='yes'>              
            </File>
            <fw:FirewallException Id='GolemNodeFw' File='yagnaExe' Name='Golem Node REST API' Port='7465' Protocol='tcp' Scope='localSubnet'/>
          </Component>
          <Component Id='GolemProvider' Guid='8ffef653-0847-4789-8b37-8c0f90f6a43f' Win64='$(var.Win64)'>
            <File Id='yaproviderExe'
                  Name='ya-provider.exe'
                  DiskId='1'
                  Source='ExternalBinaries\ya-provider.exe'
                  KeyPath='yes'>
            </File>
          </Component>
		  <Component Id='cacert' Guid='*' Win64='$(var.Win64)'>
			<File Id="cacert.pem" Name="cacert.pem" Source='ExternalBinaries\cacert.pem'
				KeyPath="yes"/>
		  </Component>
          <Directory Id="Plugins" Name="plugins">
            <Component Id="CoreExeUnit" Guid="*" Win64="$(var.Win64)">
              <File Name="exe-unit.exe" DiskId="1" Source="ExternalBinaries\exe-unit.exe" KeyPath="yes"/>
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    


    <Feature
        Id='MainProgram'
        Title='Provider Runtime'
        Description='Installs the executable and license.'
        Level='1'
        ConfigurableDirectory='APPLICATIONFOLDER'
        AllowAdvertise='no'
        Display='expand'
        Absent='disallow'>
      <ComponentRef Id='License'/>

      <ComponentRef Id='GolemNode'/>
	  <ComponentRef Id='cacert'/>
      <ComponentRef Id='GolemProvider'/>
      <ComponentGroupRef Id='ProductFilesComponentGroup'/>
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>
    <Feature
        Id='f.wasm'
        Title='Wasm Driver'
        Description='Installs Golem Wasm Driver'
        Level='1'
        ConfigurableDirectory='APPLICATIONFOLDER'
        AllowAdvertise='no'
        Display='expand'
        Absent='allow'>
      <ComponentRef Id='License'/>
      <ComponentGroupRef Id='YaRuntimeWasiComponentGroup'/>
      <ComponentRef Id='CoreExeUnit'/>
    </Feature>
    <Feature
        Id='f.gmine'
        Title='Eth mining Driver'
        Description='Installs Golem Mining Driver'
        Level='1'
        ConfigurableDirectory='APPLICATIONFOLDER'
        AllowAdvertise='no'
        Display='expand'
        Absent='allow'>
      <ComponentGroupRef Id='YaRuntimeGMinerComponentGroup'/>
    </Feature>


    <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>
    <Property Id="SENTRY_ACCEPTED" Value="0"/>
    <SetProperty Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" After='CostFinalize' />
    <UI>
      <UIRef Id='WixUI_FeatureTree'/>
      <!--UIRef Id='WixUI_Minimal'/-->
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction"
      Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
	   <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="TermsAgreementDlg">LicenseAccepted = "1"</Publish>
	   <Publish Dialog="TermsAgreementDlg" Control="Next" Event="NewDialog" Value="CustomizeDlg">1</Publish>
     <Publish Dialog="TermsAgreementDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
    </UI>
    <WixVariable Id='WixUILicenseRtf' Value='LICENSE.rtf'/>
    <WixVariable Id="WixUIBannerBmp" Value="WixUIBannerBmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="WixUIDialogBmp.bmp" />
    <WixVariable Id="WixUIExclamationIco" Value="WixUIExclamationIco.ico"/>

    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Start Beta Miner" />
    <CustomAction Id='LaunchApplication' ExeCommand='[APPLICATIONFOLDER]BetaMiner.Exe' Return="asyncNoWait" Directory="APPLICATIONFOLDER"/>
    <Icon Id="icon.ico" SourceFile="WixUIExclamationIco.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
  </Product>  
  <Fragment>
    <Component Id="cmp2064A296D7784C7B9E0A88832769F2B7" Directory="APPLICATIONFOLDER" Guid="*">
      <File Id="filE191C2D49C12AE32405B1455AA8C7D41" KeyPath="yes" Source="$(var.GolemUI.TargetDir)\BetaMiner.exe" Assembly=".net" />
    </Component>
  </Fragment>

  <Fragment>
        <UI>
            <Dialog Id="TermsAgreementDlg" Width="370" Height="270" Title="Terms of service">
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.LicenseAgreementDlgBannerBitmap)" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
                <Control Id="Description" Type="Text" X="25" Y="23" Width="340" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.LicenseAgreementDlgDescription)" />
                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.LicenseAgreementDlgTitle)" />
				        <Control Id="TermsAcceptedCheckBox" Type="CheckBox" X="20" Y="182" Width="330" Height="18" CheckBoxValue="1" Property="TermsAccepted" Text="Accept Golem Platform Terms of Use" />
                <Control Id="MonitoringAcceptedCheckBox" Type="CheckBox" X="20" Y="200" Width="330" Height="18" CheckBoxValue="1" 
                         Property="SENTRY_ACCEPTED" Text="Automatically send application crash reports" />
                <Control Id="Print" Type="PushButton" X="112" Y="243" Width="56" Height="17" Text="!(loc.WixUIPrint)">
                    <Publish Event="DoAction" Value="WixUIPrintEula">1</Publish>
                </Control>
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
                    <Publish Event="SpawnWaitDialog" Value="WaitForCostingDlg">!(wix.WixUICostingPopupOptOut) OR CostingComplete = 1</Publish>
                    <Condition Action="disable"><![CDATA[TermsAccepted <> "1"]]></Condition>
                    <Condition Action="enable">TermsAccepted = "1"</Condition>
                </Control>
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>
                <Control Id="LicenseText" Type="ScrollableText" X="20" Y="60" Width="330" Height="115" Sunken="yes" TabSkip="no">
                    <Text SourceFile="TERMS.rtf" />
                </Control>
            </Dialog>
        </UI>
    </Fragment>
</Wix>
