<?xml version="1.0" encoding="UTF-8"?>
<?define PhoenixDir="F:\gminer\plugins\Phoenix-real"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="Phoenix">
      <Component Id="cmpQIZOQFIFWZ" Directory="dirKXBYAAZWYE" Guid="*">
        <File Id="filUXQQCNVPDL" KeyPath="yes" Source="$(var.PhoenixDir)\cudart64_80.dll" />
      </Component>
      <Component Id="cmpSJROXYVLTJ" Directory="dirKXBYAAZWYE" Guid="*">
        <File Id="fiSTNSBJAOVZ" KeyPath="yes" Source="$(var.PhoenixDir)\Datapack.bin" />
      </Component>
      <Component Id="cmpIBMSYHBNDA" Directory="dirKXBYAAZWYE" Guid="*">
        <File Id="filVYINGUSRFS" KeyPath="yes" Source="$(var.PhoenixDir)\dpools.txt" />
      </Component>
      <Component Id="cmpSIWZOMNSPL" Directory="dirKXBYAAZWYE" Guid="*">
        <File Id="filOTEKLRWJDD" KeyPath="yes" Source="$(var.PhoenixDir)\EIO.dll" />
      </Component>
      <Component Id="cmpSEKAVVSCCA" Directory="dirKXBYAAZWYE" Guid="*">
        <File Id="filWMYZMMPNDN" KeyPath="yes" Source="$(var.PhoenixDir)\EIO.exe" />
      </Component>
      <Component Id="cmpLGDMPGJAGR" Directory="dirKXBYAAZWYE" Guid="*">
        <File Id="filCVXVDMQTVB" KeyPath="yes" Source="$(var.PhoenixDir)\epools.txt" />
      </Component>
      <Component Id="cmpPAHGMHZIUE" Directory="dirKXBYAAZWYE" Guid="*">
        <File Id="filUIZWGMXXPB" KeyPath="yes" Source="$(var.PhoenixDir)\EthDcrMiner64.exe" />
      </Component>
      <Component Id="cmpCFNUXQZTZU" Directory="dirKXBYAAZWYE" Guid="*">
        <File Id="filOTGAKBELOC" KeyPath="yes" Source="$(var.PhoenixDir)\History.txt" />
      </Component>
      <Component Id="cmpPHXBGNTOUR" Directory="dirKXBYAAZWYE" Guid="*">
        <File Id="filGHBJDTDOHP" KeyPath="yes" Source="$(var.PhoenixDir)\IOMap64.sys" />
      </Component>
      <Component Id="cmpHZUKWHDBPY" Directory="dirKXBYAAZWYE" Guid="*">
        <File Id="filNXCRZVPXJU" KeyPath="yes" Source="$(var.PhoenixDir)\libcurl.dll" />
      </Component>
      <Component Id="cmpJLXQSBMQWZ" Directory="dirKXBYAAZWYE" Guid="*">
        <File Id="filWVSHCXGTLE" KeyPath="yes" Source="$(var.PhoenixDir)\License.txt" />
      </Component>
      <Component Id="cmpURJOSCNWLU" Directory="dirKXBYAAZWYE" Guid="*">
        <File Id="filOJPRZLQLNV" KeyPath="yes" Source="$(var.PhoenixDir)\msvcr110.dll" />
      </Component>
      <Component Id="cmpPIAZPSYZNB" Directory="dirKXBYAAZWYE" Guid="*">
        <File Id="filHIYACZWHVR" KeyPath="yes" Source="$(var.PhoenixDir)\Readme!!!.txt" />
      </Component>
      <Component Id="cmpDEHZDJFBIU" Directory="dirSMIYUPDBWA" Guid="*">
        <File Id="filAPBOLNFPDD" KeyPath="yes" Source="$(var.PhoenixDir)\cuda10\cudart64_100.dll" />
      </Component>
      <Component Id="cmpOJMWIQRXJN" Directory="dirSMIYUPDBWA" Guid="*">
        <File Id="filSSRDKZXQFB" KeyPath="yes" Source="$(var.PhoenixDir)\cuda10\EthDcrMiner64.exe" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
