<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="cb35d9bd-4284-44d0-b9ab-f5151d4e9284" Name="GolemUISetup" Language="1033" Version="1.0.0.0" Manufacturer="Golem" UpgradeCode="ad8a7ac7-84ff-49b1-8d86-9e45f3a24b70">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="GolemUI" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="GolemUI" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <Component Id="myapplication.exe" Guid="a2283b2a-a8f0-433e-a972-cfaf00bbcfe6">
        <File Id="myapplication.exe" Source="PublishBinaries\GolemUI.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>
